@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cosi Azure";
  src: url(./assets/fonts/CosiAzure-Bold.ttf);
}

:root {
  --color-dark: #050505;
  --color-light: #f7f7f7;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light);
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

::selection {
  background-color: #22d3ee;
  color: var(--color-dark);
}
*,
*::after,
*::before {
  cursor: none;
}
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Michroma", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.inner-cursor {
  position: fixed;
  left: 10px;
  z-index: 9999;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-light);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  z-index: 9999;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  border: 1px solid var(--color-light);
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
}

input[type="submit"] {
  letter-spacing: inherit;
  word-spacing: inherit;
}
.app {
  position: relative;
}

.noise {
  background-image: url("./assets/images/noise.gif");
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;
  opacity: 0.07;
}

.link-item {
  position: relative;
}

.link-item::after {
  content: "";
  background-color: var(--color-light);
  position: absolute;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.link-item:hover::after {
  width: 100%;
}

.hero {
  position: relative;
}

.hero-img,
.project-right,
.about-left {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.shutter {
  position: absolute;
  z-index: 100;
  font-family: "Cosi Azure", sans-serif;
  font-size: 10rem;
}

.shutter-left {
  top: 0;
  left: 0;
}

.shutter-right {
  bottom: 0;
  right: 0;
}

.circle-left,
.circle-right {
  height: 1000px;
  width: 1000px;
  border: 1px dashed var(--color-light);
  border-radius: 50%;
  opacity: 0.2;
  position: fixed;
  z-index: -9998;
  animation: spin 90s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.circle-left {
  top: -40%;
  left: -20%;
}

.circle-right {
  bottom: -40%;
  right: -20%;
}
.section-title {
  font-family: "Cosi Azure", sans-serif;
  font-size: 10rem;
  line-height: 1;
  text-transform: uppercase;
}

.skill-item {
  position: relative;
}

.skill-item::before,
.skill-item::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-light);
}

.skill-item::before {
  width: 0%;
  opacity: 0.2;
  transition: 1.5s;
}

.skill-item.reveal::before {
  width: 100%;
}

.skill-item::after {
  width: 0;
  background-color: #22d3ee;
  transition: 0.5s;
}

.skill-item:hover::after {
  width: 100%;
}

.skill-number {
  font-size: 5rem;
}

.skill-name {
  font-size: 2rem;
}
